.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000000;
  align-items: center;
  height: 40vh;
  row-gap: 30px;
}

.footer-logo {
  font-weight: 500;
  color: #e9ecef;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width:fit-content;
  margin-left: 10px;
  transition: all 0.3s;
  margin-top: 2%;
  margin-right: 80%;
}

.footer-logo a{
  text-decoration: none;
  color: #000000;
  margin-right: 10px;
  transition: all 0.3s;
  font-size: 1.5rem;
}

.footer-logo:hover a{
  color: #000000;
  font-size: 1.7rem;
}

.footer-logo:hover {
  background-color: #ffffff;
  font-size: 1.7rem;
  border-radius: 10px;
  border: none;
  border-radius: 20px;
}

.footer-intro-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 30%;
}

.footer-description {
  margin-right: 10%;
  width: 50%;
}

.footer-contactInfo {
  display: flex;
  flex-direction: row;
  width: 50%; 
}

.phone-contact-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.mail-contact-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 7%;
}

.phone-icon {
  margin-top: 7%;
}

.phone-number {
  
}

.mail-icon {
  margin-top: 3%;
}

.mail-info {

}

.footer-social-media-copyright {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 60%;
  padding-bottom: 2%;
  margin-right: 5%;
  margin-left: 5%;
}

.footer-social {
  display: flex;
  flex-direction: row;
  gap: 20%;
}

.footer-copyright {
  width: 50%;
}
