.navbar {
  border-bottom: 1px solid #e9ecef;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  gap: 30px;
  font-style: unset;
  background-color: #00a9ff;
  height: 8vh;
}

/* Logo */
.navbar-logo {
  font-weight: 500;
  color: #e9ecef;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: fit-content;
  margin-left: 10px;
  transition: all 0.3s;
}

.navbar-logo a {
  text-decoration: none;
  color: #fafafa;
  margin-right: 10px;
  transition: all 0.3s;
  font-size: 1.5rem;
}

.navbar-logo:hover {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 10px 20px #89cff3;
  border-radius: 20px;
}

.navbar-logo:hover a {
  color: #000000;
  font-size: 1.7rem;
}

.navbar-logo:hover h1 {
  color: #000000;
  font-size: 1.7rem;
  padding-right: 10px;
}

.navbar-logo:hover .logo {
  width: 60px;
  height: 60px;
  margin: 0;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 5px 0 0;
  border-radius: 50%;
  transition: all 0.2s;
}

/* Navigation Links */
.navbar-list-link ul {
  font-size: 1.25rem;
  font-weight: 500;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}

/* Individual List Items */
.navbar-list-link ul li {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.navbar-list-link ul li a:hover {
  color: #000000;
  background-color: #ffffff;
  font-size: 1.7rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 10px 20px #89cff3;
}

.navbar-list-link ul li a {
  color: #e9ecef;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 15px;
  transition: all 0.3s;
}

/* Login Button */
.navbar-login {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: auto; /* Pushes this section to the right */
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #00c3ff;
  border: 3px solid #e9ecef;
  transition: all 0.3s;
}

.navbar-login a {
  color: #000000;
  text-decoration: none;
  margin: auto;
  padding: 15px;
}

.navbar-login:hover {
  background-color: #ff8800;
  font-size: 1.7rem;
  box-shadow: 0 10px 50px #bce7fd;
  border: none;
}

.navbar-login a:hover {
  color: #fafafa;
  font-weight: bolder;
}

.account-box {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;
  border: 1px solid #e9ecef;
  padding: 0 10px 0 0;
  background-color: #8dd1ff;
  border-radius: 20px;
  text-align: center;
  transition:ease-in-out 0.2s;
}

.account-box p b {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 500px;
  border: 1px solid #fafafa;
  margin-right: 5px;
  margin-left: 10px;
}

.account-box p,
.account-box a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #00629b;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 10px 10px;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0;
  border: 1px solid #ccc;
  border-top: none ;
  padding: 0;
  /* transition:ease-in-out 0.2s; */
}

.dropdown a {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.dropdown a:first-child{
  border-top: 1px solid #eee;
  cursor: pointer;
}

.account-box:hover a{
  display: block;
  transition:ease-in-out 0.2s;
}

.account-box a:hover{
  color: #ffffff;
  background-color: #ff7300;
  font-size: 1.5rem;
}

.account-box a:last-child:hover{
  border-radius: 0 0 10px 10px;
}
.account-box:hover .dropdown {
  display: block;
  transition:ease-in-out 0.2s;
}

.account-box:hover{
  position: sticky;
  color: #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  transition:ease-in-out 0.2s;
}

.account-box:hover p {
  color:#000000
}