.create-tutor-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #666;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 5%;
    height: 80%;
    margin-bottom: 10%;
}

.create-tutor-container h2 {
    font-size: 2rem;
    margin-bottom: 5%;
}

.form-frame {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 20px;
}

.form-frame-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.form-frame-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #f9f9f9;
}

.form-frame-group select {
    width: 61vw;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #f9f9f9;
}

.submit-form-button {
    background-color: #00a9ff;
    color: #070707;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.submit-form-button:hover {
    background-color: #666;
    color: #fff;
}

.change-password-form form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

hr{
    margin-top: 30px
}